cyber/
cybersec_sdk/build/
cybersec_sdk/dist/
cybersec_sdk/cybersec_sdk.egg-info/
temp/
cybersec_sdk/system_graph.gexf
cybersec_sdk/system_report.json
cybersec_sdk/.env
cybersec_sdk/tfplan.json
cybersec_sdk/cybersec_sdk/__pycache__/
cybersec_sdk/documentation/Screen-Recording.mp4

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
tfplan.json

# Docker
.dockerignore

# IDEs
.vscode/
.idea/

# Misc
*.log
*.swp
.DS_Store
